html  {
    height: 100%;
}
body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans',sans-serif;
    color: #2c3e50;
    background-color: #f5f5f5;
    box-sizing: border-box;
    height: 100%;
    font-size: 14px;
}

* {
    outline-color: rgb(39, 174, 96);
}

.ql-container {
    height: calc(100% - 45px);
}

.liqpay-form {
    display: none;
}

.text-small {
    color: #646464;
    font-size: 12px;
}

h2 {
    display: inline-block;
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

.wrapper {
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

main {
    padding: 50px;
    flex-grow: 1;
}
* {
    box-sizing: inherit;
}

.container {
    max-width: 750px;
    margin: 50px auto;
    background-color: white;
    padding: 5px 20px;
    line-height: 1.75;
    position: relative;
}

.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, .5);
    border-color: rgba(0, 0, 0, .1);
}


.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}

.collapse:not(.show) {
    display: none;
}

.list-item:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

@media (min-width: 768px) {
    .navbar-expand-md {
        -ms-flex-flow:row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start
    }

    .navbar-expand-md .navbar-collapse {
        display: -ms-flexbox!important;
        display: flex!important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto
    }

    .navbar-expand-md .navbar-toggler {
        display: none
    }
}


@media screen and (max-width: 460px) {
    main {
        padding: 20px!important;
    }

    .container {
        margin: 0 auto;
    }

    .title{
        line-height: 48px !important;
        font-size: 48px !important;
    }
    .navbar-collapse.show .list-item {
        display: block;
    }

}
