footer {
    display: flex;
    min-height: 400px;
    background-color: white;
}
footer .container {
    padding: 10px;
    width: 80%;
    margin: auto;
}
footer section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 10px;
}
footer article {
    display: flex;
}
footer a {
    text-decoration: none;
    color: #2c3e50;
}
footer a:hover {
    color: #27ae60;
    text-decoration: none;
}
.flaticon_link, .flaticon_link a {
    font-size: 10px;
}
footer i {
    margin-right: 10px;
}
.notices {
    margin-top: 40px;
    font-size: 80%;
    border-top: 1px solid grey;
}
.icon {
    width: 20px;
    height: 20px;
}

.icon-big {
    margin-right: 15px;
    margin-top: 15px;
}
@media screen and (max-width: 460px) {
    .row {
        flex-direction: column;
    }
    .row section {
        margin: 15px 0;
    }
    article:not(:last-child) {
        margin-bottom: 15px;
    }
}
