.help-container {
    max-width: 1024px;
    width: 80%;
    margin: 0 auto;
    padding: 30px 0 0 0;
    font-size: 16px;
    line-height: 1.5;
}
.help-text-block {
    background-color: white;
    width: calc(100% - 300px - 60px);
    padding: 20px 40px;
}
.help-chart-wrapper {
    width: 100%;
    overflow: visible;
}
.help-chart-container {
    height: 350px;
    font-size: 14px;
}
.help-chart-tooltip {
    background-color: white;
    border: 1px solid lightgrey;
    max-width: 200px;
    padding: 20px;
}
.help-intro img {
    width: 160px;
    border-radius: 50%;
    margin-right: 30px;
}

aside {
    width: 330px;
    height: 600px;
    position: sticky;
    top: 5%;
}

.recharts-rectangle.recharts-tooltip-cursor{
    fill: rgb(247,247,247)!important;
}

::placeholder {
    color: #aaa;
}
.radio {
    padding: 10px;
    border: none;
    border-radius: 0;
    cursor: pointer;
    font-size: 14px;
    outline-color: white;
    flex-grow: 1;
    transition: all 0.25s;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #eeeeee;
}
.radio.checked {
    background: white;
    color: green;
}
.radio:hover {
    background-color: rgb(250, 250, 250)
}

.donate-card input[type=number],
.donate-card input[type=text] {
    border: none;
    border-bottom: 1px solid #aaa;
    outline-color: white;
    font-size: 16px;
    width: 55px;
    color: #222;
    padding: 4px 1px;
}
.sum {
    padding: 7px;
    border: none;
    border-radius: 0;
    cursor: pointer;
    color: #444;
    background-color: #CEE1DB;
}
.sum:hover {
    background-color: #27ae60;
    color: white;
}
.sum.checked {
    background-color: #45BD79
}
.donate-card label {
    display: inline-block;
    margin: 0 5px 15px;
    font-size: 11px;
    font-weight: normal;
}
.donate-card input[type=checkbox] {
    vertical-align: middle;
    margin-top: 0;
}
.donate-card input[type=text] {
    font-size: 14px;
    width: 100%;
}

.white-overlay {
    position: relative;
}

.white-overlay:after {
    background: rgba(255, 255, 255, .6);
    width: 100%;
    position: absolute;
    top: 0;
    content: '';
    left: 0;
    height: 100%;
    z-index: 1;
}
@media screen and (max-width: 768px) {
    .help-container {
        flex-direction: column;
        width: 100%;
    }
    .help-text-block {
        width: 100%;
        padding: 20px;
    }
    aside {
        margin: 10px auto;
    }
    .help-intro {
        flex-direction: column-reverse!important;
    }
    .help-intro img {
        margin: 0 auto;
    }
    .help-chart-container {
        height: 250px;
    }
    .help-chart-wrapper {
        overflow-x: scroll;
    }
}

@media screen and (max-width: 460px) {
    .help-chart-container {
        width: 460px;
        font-size: 12px;
    }
    .help-text-block {
        padding: 20px 10px;
    }
}
