.creation-date {
    color: grey;
    font-size: 12px;
    position: absolute;
    right: 20px;
    top: 20px;
}
.project-image-wrapper {
    width: 100vw;
    margin: -51px;
    height: 400px;
    overflow: hidden;
    margin-bottom: 0;
    background-size: cover;
    background-position: center center;
}

@media screen and (max-width: 460px) {
    .project-image-wrapper {
        margin: -20px;
        height: 150px;
    }
}
