module.exports = {
  distDir: 'build',
  pageExtensions: ['jsx', 'js'],
  generateBuildId: async () => {
    if (process.env.BUILD_ID) {
      return process.env.BUILD_ID;
    } else {
      return `${new Date().getTime()}`;
    }
  },
  env: {
    API_URL: "<<API_URL>>",
    APP_URL: "<<APP_URL>>",
    SHEETS_URL: "<<SHEETS_URL>>",
    HASH_SALT: "<<HASH_SALT>>",
    SENTRY_DSN: "<<SENTRY_DSN>>",
    ALTERNATIVE_DONATE_LINK: "<<ALTERNATIVE_DONATE_LINK>>"
  },
  serverRuntimeConfig: {},
  publicRuntimeConfig: {
    DEPLOY_ENV: process.env.DEPLOY_ENV,
    WEB_URL: process.env.WEB_URL,
    USE_COGNITO: process.env.USE_COGNITO,
  },
};
